*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  margin: 0%;
  
}


/* nav bar */
header{
  /* position: -webkit-sticky; */
  position:static;
  backdrop-filter: blur(10px);
  background-color: rgb(238, 238, 239);
  font-family: 'Roboto Slab', serif;
}
.navbar{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 100px;
  padding-top: 10px;
  padding-right: 10px;
}
.logo{
  margin-bottom: 10px;
  margin-right: 10px;
}
.links{
  display: flex;
  
}
.link1{
  margin: 5px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size:medium;
}
.search{
  margin-left: 180px;
}
.searCh{
  width: 700px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border:1px solid black;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
}
.butSub{
  padding: 10px;
  border-radius: 5px;
  border:1px solid black;font-family: 'Roboto';
  font-size: medium;
  color: black;
  font-weight: 400;
}
.butSub:hover{
  background-color: rgb(151, 247, 54);
}
.logInBtn{
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  border:1px solid black;font-family:'Roboto';
  font-size: medium;
  font-weight: 400;

  
}
.logInBtn a{
  text-decoration: none;
  color: #232629;
}

/* nav bar done */

/* main */
main{
  margin: auto;
}

.mainDiv{
  display: flex;
  /* align-items: center; */
  align-items: start;
  justify-content: center; 
  width: 100%;
  /* max-width: 1060px; */
  background-color: rgb(238, 238, 239);
  height: 100px;
  
  
  
}



/* side bar starts */
.sidebr{
  font-family: 'Roboto Slab', serif;
  width: 300px;
  background-color: rgb(255, 255, 255);
  height:810px;
  
  padding-bottom: 5px;
  border-right:0.5px solid #6b6b6cb4;

}
.plink{
  display: block;
  width: 185px;
  height: 40px;
  padding: 10px;
  text-decoration: none;

}
.plink1{
  
  width: 230px;
  
}


.pl{
  margin-left: 35px;
}
.publicLink > a:hover{
  background-color: #bdbdbd;
  border-right:3px solid #d67733;
  font-weight: 600;
}

.plink1:hover{
  border-right:3px solid #d67733;
}

.box{
  width: 250px;
  height: 400px;
  background-color: #e7d12cba;
  margin-top: 100px;
  margin-left: 25px;
  border-radius: 10px;
  padding: 20px;

}

/* side bar end */



/* middle bar starts */
.middlebr{
  width: 800px;
  background-color: rgb(255, 255, 255);
  height:810px;
  
  border-right:0.5px solid #6b6b6cad ;
  padding-top: 20px;
  padding-left: 30px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.midHead{
  display: flex;
  justify-content: center;
  align-items: center;
}

.askBtn{
  color: white;
  padding: 5px;
  background-color: rgb(74, 173, 234);
  border: none;
  border-radius: 2px;
  text-decoration: none;
}
.firstHead{
  padding-right: 400px;
  font-size: 27px;
}

.midDetailHead{
  margin-top: 30px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 10px; */
}
.detailLink{
  margin-left: 180px;
}
.detailLink > a{
  text-decoration: none;
}
.filter{
  margin-left: 50px;
}

.linkBox{
  padding: 5px;
  border:0.5px solid #232629;
  border-radius: 2px;
}
.linkBox2{
  padding: 5px;
  border:0.5px solid #232629;
}
.filter{
  padding: 5px;
  border:0.5px solid #232629;
  border-radius: 2px;
  background-color: rgb(74, 173, 234);
  color: white;
  width: 80px;
}

.Que{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  height: 150px;
  
}
.que1{
  width: 200px;
  
}


/* middle bar ends */

/* right bar starts */
.rightbr{
  width: 500px;
  background-color: rgb(255, 255, 255);
  height:810px;
  
}

.rightBox1{
  width: 360px;
  background-color: rgba(248, 230, 96, 0.797);
  height: 600px;
  margin-left: 30px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}

/* right bar ends */

/* footer start */
footer{
  background-color: #232629;
  padding-top: 50px;

}
.footerMain{
  display: flex;
  align-items: start;
  justify-content: center;
  color: #c4d1df;
  
}
.footContact {
  color: #8e98a3;
  text-decoration: none;

}
.foot{
  margin: 25px;

}
.navfootlinks{
  color: #c4d1df;
  text-decoration: none;
}
/* footer done */


::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: #8800ff; 
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgba(159, 159, 159, 0.858); 
  border-radius: 10px;
}


